JVK_jasenrekisteri_db.accdb.src/tbldefs/Yhteystiedot.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
	<xsd:element name="dataroot">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="Yhteystiedot" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="generated" type="xsd:dateTime"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Yhteystiedot">
		<xsd:annotation>
			<xsd:appinfo>
				<od:index index-name="First Name" index-key="Etunimi " primary="no" unique="no" clustered="no" order="asc"/>
				<od:index index-name="Last Name" index-key="Sukunimi " primary="no" unique="no" clustered="no" order="asc"/>
				<od:index index-name="PrimaryKey" index-key="UID " primary="yes" unique="yes" clustered="no" order="asc"/>
				<od:tableProperty name="Orientation" type="2" value="0"/>
				<od:tableProperty name="OrderByOn" type="1" value="0"/>
				<od:tableProperty name="DefaultView" type="2" value="2"/>
				<od:tableProperty name="WSSTemplateID" type="3" value="105"/>
				<od:tableProperty name="TotalsRow" type="1" value="0"/>
				<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
				<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
				<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
				<od:tableProperty name="StarColumnHidden" type="1" value="0"/>
				<od:tableProperty name="HideNewField" type="1" value="0"/>
				<od:tableProperty name="BackTint" type="6" value="100"/>
				<od:tableProperty name="BackShade" type="6" value="100"/>
				<od:tableProperty name="ThemeFontIndex" type="4" value="-1"/>
				<od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="-1"/>
				<od:tableProperty name="AlternateBackTint" type="6" value="100"/>
				<od:tableProperty name="AlternateBackShade" type="6" value="100"/>
				<od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
				<od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="-1"/>
				<od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="-1"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="UID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="960"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="WSSFieldID" type="10" value="ID"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
							<od:fieldProperty name="BoundColumn" type="3" value="1"/>
							<od:fieldProperty name="ColumnCount" type="3" value="1"/>
							<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
							<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
							<od:fieldProperty name="Description" type="10" value="UID"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Sukunimi" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="1"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="0"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="WSSFieldID" type="10" value="Title"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="50"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Etunimi" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="1"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="0"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="WSSFieldID" type="10" value="FirstName"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="50"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Sähköpostiosoite" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="2400"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="0"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="WSSFieldID" type="10" value="Email"/>
							<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
							<od:fieldProperty name="BoundColumn" type="3" value="1"/>
							<od:fieldProperty name="ColumnCount" type="3" value="1"/>
							<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
							<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
							<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="50"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Matkapuhelin" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="2"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="0"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="WSSFieldID" type="10" value="CellPhone"/>
							<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
							<od:fieldProperty name="BoundColumn" type="3" value="1"/>
							<od:fieldProperty name="ColumnCount" type="3" value="1"/>
							<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
							<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
							<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="25"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Kaupunki" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="DisplayControl" type="3" value="109"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="0"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="WSSFieldID" type="10" value="WorkCity"/>
							<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
							<od:fieldProperty name="BoundColumn" type="3" value="1"/>
							<od:fieldProperty name="ColumnCount" type="3" value="1"/>
							<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
							<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
							<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="50"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Jäsenyys" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Required" type="1" value="1"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="0"/>
							<od:fieldProperty name="DisplayControl" type="3" value="111"/>
							<od:fieldProperty name="RowSourceType" type="10" value="Value List"/>
							<od:fieldProperty name="RowSource" type="12" value="&quot;Jäsen&quot;;&quot;Hallitus&quot;;&quot;Siivous&quot;;&quot;Kirjanpito&quot;;&quot;Vuokranantaja&quot;;&quot;Muu&quot;"/>
							<od:fieldProperty name="BoundColumn" type="3" value="1"/>
							<od:fieldProperty name="ColumnCount" type="3" value="1"/>
							<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
							<od:fieldProperty name="ColumnWidths" type="10" value="1440"/>
							<od:fieldProperty name="ListRows" type="3" value="16"/>
							<od:fieldProperty name="ListWidth" type="10" value="1440twip"/>
							<od:fieldProperty name="LimitToList" type="1" value="1"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
							<od:fieldProperty name="DefaultValue" type="12" value="&quot;Jäsen&quot;"/>
							<od:fieldProperty name="Description" type="10" value="Edustusjäsenyys, hallitus yms yms yms"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="100"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Muistiinpanot" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Description" type="10" value="Sekalaiset muistiinpanot"/>
							<od:fieldProperty name="Required" type="1" value="0"/>
							<od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
							<od:fieldProperty name="IMEMode" type="2" value="0"/>
							<od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
							<od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
							<od:fieldProperty name="TextFormat" type="2" value="0"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AppendOnly" type="1" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="536870910"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Edustusjasen" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
					<xsd:annotation>
						<xsd:appinfo>
							<od:fieldProperty name="DisplayControl" type="3" value="106"/>
							<od:fieldProperty name="ColumnWidth" type="3" value="1872"/>
							<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
							<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
							<od:fieldProperty name="Format" type="10" value="Yes/No"/>
							<od:fieldProperty name="DefaultValue" type="12" value="No"/>
							<od:fieldProperty name="TextAlign" type="2" value="0"/>
							<od:fieldProperty name="AggregateType" type="4" value="-1"/>
							<od:fieldProperty name="ResultType" type="2" value="0"/>
							<od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
							<od:fieldProperty name="Required" type="1" value="1"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
